
/*Color del fondo de pantalla*/
.fondo{
    background-color: rgb(28, 2, 38);
}

/*Todo lo que tiene que ver con las tarjetas*/
.tarjetas{
    width: 80%;
    margin: auto;
}
    /*El transition y el transform se utilizan para hacer el efecto de zoom de las tarjetas*/
    .card{
        transition: all 0.3s;
    }
    .card:hover{
        transform: scale(1.08);
    }

/*Le damos estilo al pie de pag*/
.piePagina{
    margin-top: 180px;
    font-family: 'Cambria', 'Times', serif;
    background-color: #2d062d;
    color: white;
}