.fondo{
    background-color: rgb(28, 2, 38);
}

.descripcion {
    font-family: 'Cambria', 'Times', serif;
    text-align: center;
    padding: 50px;
    font-style: italic;
    color: aliceblue;
}

.profesores h1 {
    font-family: 'Cambria', 'Times', serif;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    font-style: italic;
    color: aliceblue;
}

.profesores img {
    width: 350px;
    border-radius: 25%;
    object-fit: cover;
    align-items: center;
    margin-top: 50px;
    color: aliceblue;
}

.profesores_descr {
    font-family: 'Cambria', 'Times', serif;
    width: 65%;
    margin-top: 50px;
    float: left;
    margin-left: 100px;
    font-style: inherit;
    color: aliceblue;
}

.estudiantes_descr {
    font-family: 'Cambria', 'Times', serif;
    width: 65%;
    float: left;
    margin-left: 100px;
    color: aliceblue;
} 

.estudiantes img {  
    width: 350px;
    border-radius: 25%;
    object-fit: cover;
    align-items: center;
}

.cursos {
    margin-top: 80px;
    color: aliceblue;
}

#cards {   
    background-color: #dbe5e6;
    padding: 30px 0px;
    background-color: rgb(42, 2, 47);
}

#cards h1 {
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
}

.title {
    text-align: center;
    padding: 25px 0px;
}

.title p {
    font-size: 18px;
}

.title h1 {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.cardbody {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}


.piePagina {
    margin-top: 180px;
    font-family: 'Cambria', 'Times', serif;
    background-color: #3a3a3a;
    color: white;
}
.botonComentario {
    background-color: #6c63ff;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .botonComentario:hover {
    background-color: #4b47cc;
  }
  